.main {
    background-color: crimson;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.main p {
    margin-bottom: auto;
}

.logo {
    background-color: crimson;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}