body {
    background-color: beige;
}
.main {
    background-color: crimson;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

footer {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}